<!DOCTYPE html>
<html>
	<head>
		<title>尚未登录</title>
	</head>
	<body>
		<form action="/login" method="post">
			<input type="text" name="username" /><br />
			<input type="password" name="password" /><br />
			<button type="submit">登录</button>
		</form>
	</body>
</html>